language: cpp
matrix:
    include:
        - name: "GCC (7.4) on Ubuntu 18.04"
          os: linux
          dist: bionic
          compiler: gcc

        - name: "GCC (5.4) on Ubuntu 16.04"
          os: linux
          dist: xenial
          compiler: gcc

        - name: "Clang (7.0) on Ubuntu 18.04"
          os: linux
          dist: bionic
          compiler: clang

        - name: "MSVC (19.16) on VS 2017/Windows 1809"
          os: windows
          before_install:
              - curl -O https://ffmpeg.zeranoe.com/builds/win64/dev/ffmpeg-4.2-win64-dev.zip
              - unzip ffmpeg-4.2-win64-dev.zip
              - curl -O https://bitbucket.org/eigen/eigen/get/3.3.7.zip
              - unzip 3.3.7.zip
              - export CARGS="-DCMAKE_GENERATOR_PLATFORM=x64 -DEIGEN3_INCLUDE_DIR=$(pwd)/eigen-eigen-323c052e1731 -DLIBAV_ROOT_DIR=$(pwd)/ffmpeg-4.2-win64-dev"

        - name: "AppleClang (11.0) on XCode 11/OSX 10.14"
          os: osx
          osx_image: xcode11


script:
    - mkdir -p build
    - cd build
    - cmake -DBUILD_STATIC=ON -DCMAKE_BUILD_TYPE=Release ${CARGS} ..
    - cmake --build . --config Release

addons:
    apt:
        packages:
            - libeigen3-dev
            - libavcodec-dev
            - libavformat-dev
            - libavutil-dev
    homebrew:
        packages:
            - ffmpeg
            - eigen
